

body {
	background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX32338951.jpg);
	background-size: cover;


	
}

div {

	
		border:7px dotted rgba(255, 0, 0, 0.8);
		text-align: center;
		background-color: rgba(0, 0, 255, 0.2);

}
li{
	display: inline-block;
	
	font-size: 50px;

}
h2{
	text-align: center;
	font-size: 60px;
	border:10px groove rgba(255, 0, 0, 0.5);
}
.c1{
	color: rgba(255, 0, 0, 1);
	border:dashed 5px rgba(255, 0, 0, 0.5);
	text-align: center;
    font-style: italic;
    font-size: 25px;
    
}
.c2{
	font-size: 50px;
	text-align: center;
	color: rgba(255, 0, 0, 0.8);
}
span{
	font-size: 2em;
}
.c3{
	text-align: center;
	font-size: 50px;
	color: red;
}













